.clients {
  padding: 2rem;
  /* background-color: #58519e; */
  background-color: white;
  text-align: center;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  margin: 0 auto 1.5rem auto; /* Center horizontally and add bottom margin */
  border-radius: 20px;
  background: #8075e5;
  box-shadow: inset 10px 10px 14px #58519e,
              inset -10px -10px 14px #a899ff;
  padding: 2rem;
  display: inline-block; /* Shrink-wrap around text */
}

.subtitle {
  text-align: center;
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 2rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 0.5rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s;
}

.slider {
  overflow: hidden; /* Prevent horizontal overflow */
  width: 100%;
  position: relative;
}

.slideTrack {
  display: flex;
  width: 200%; /* Ensure the track is twice the width of the slider */
  animation: scroll 60s linear infinite;
  gap: 20px;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%; /* Show 5 slides at once (100% / 5) */
  padding: 0.5rem;
  background: rgba(103, 97, 97, 0.195);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  margin: 0 0.25rem;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.clientLogo {
  max-width: 100%;
  max-height: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Scroll by half of the slideTrack width */
  }
}

/* Media Queries for Small Screens */
@media (max-width: 768px) {
  .heading {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .slide {
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%; /* Adjust to full width for smaller screens */
    margin: 0; /* Remove margin for better fit */
  }
}
